.center-button{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.center-button a{
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
}
.center-button button{
    width: 70%;
    
    font-size: 200%;
    padding: 10%;
}
.Welcome-text{
    text-align: center;
}
